h1 {
    font-size : 50px;
    color:#ffffff
}

body {
    text-align: center;
    margin: 0;
    background: radial-gradient(
        circle at center,
        #2b0033,
        #120012,
        #000000
    );
   font-size : 20px;
   color:#ffffff;
} 

h2 {
   color:#ffffff;
   font-size : 30px;

}

object {
    font-size : 30px;
    font-weight: bold;
    
}

h3 {
    font-size: 50px;

}

.lien {
    color:#ffffff;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.2s;
}

.lien:hover {
    color: rgb(212, 212, 212);
}

.endgame {
    font-size : 30px
}
