@font-face {
  font-family: myFont;
  src: url("Funnel_Display/FunnelDisplay-VariableFont_wght.ttf");
}

body
{
background-image: url("image.png");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed
}
.divague{
  background-color: whitesmoke;
  border-radius: 30px;
  border: 1% solid rgb(95 97 110);
  padding: 3%;
  width: 85%;
}
#centered {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -0%);
}
.partie{
  font-size: 146%;
}
.titre{
  font-size: 253%;
  text-align: center;
}
p{
  font-family : myFont;
}
.glitchlayer{
  position: absolute;
  content: "Click me";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.15s ease;
}